.detail-container {
    display: flex;
    justify-content: space-between;
    margin: 0 45px;
    border-radius: 8px;
}

.detail-container2{
    width: 50%;
}

.shop-info {
    display: flex;
    padding-top: 30px;
    width: 50%;
    height: 50px; 
    margin-bottom: 50px;  
}

.shop-info2 img {
    width: 100%;
}

.shop-info p {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    padding-top: 10px;
    padding-right: 10px;
    color: #333;
}

.shop-info p a {
    margin: 0;
    background-color: red;

}

.shop-info h2 {
    margin: 0px 0;
    padding-bottom: 70px;
    padding-left: 40px;
    font-size: 34px;
}

.reservation-form{
    background-color: #2979ff;
    width: 40%;
    color: white;
    margin-top: -90px;
    border-radius: 8px;
    height: 950px;
}

.reservation-form2 {
    background-color: #2979ff;
    width: 100%;
    color: white;
    padding:20px;
    border-radius: 8px;
}


.reservation-form h3 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
}

.reservation-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

.reservation-form input,
.reservation-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}


.reservation-form input[type="date"],
.reservation-form input[type="time"],
.reservation-form select {
    background-color: white;
    color: black;
}

.reservation-summary {
    background-color: #2860fa;
    padding: 10px;
    margin-bottom: 465px;
    border-radius: 5px;
}

.reservation-summary p {
    margin: 5px 0;
}

.reserve-btn {
    background-color: #0066ff;
    padding: 20px 0;
    margin-bottom: 0;
    width: 100%;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}