
.mypageuser{
    width: 100%;
    text-align: center;
}
.mypageuser h2{
    font-size: 60px;
}

.mypage-content {
    display: flex;
    margin: 0 30px;
    padding-top: 30px;
    justify-content: space-between;
    gap: 20px;
}

.reservation,
.favorites {
    border-radius: 10px;
    padding: 20px;
    
}

.reservation {
    flex-basis: 30%;
}

.favorites {
    flex-basis: 65%;
}

h2,
h3 {
    margin-bottom: 30px;
}

.reservation-card {
    background-color: #3366FF;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}

.reservation-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.reservation-header img{
    background-color: white;
    border-radius: 16.5px;
}

.reservation-title{
    padding-right: 300px;
}

.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.reservation-details span {
    margin-right: 50px;
    margin-bottom: 5px;
}

.favorite-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.favorite-card img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.favorite-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.favorite-details h4 {
    margin-bottom: 5px;
}

.favorite-details p {
    margin-bottom: 10px;
    color: #666;
}

.details-btn {
    background-color: #3366FF;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.favorite-btn {
    background: none;
    border: none;
    font-size: 20px;
    color: red;
    cursor: pointer;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .reservation,
    .favorites {
        flex-basis: 100%;
    }
}